

body 
{
    background: radial-gradient(circle, #6177c7, #16428a); 
    margin:0;
    min-height: 100vh;
    padding:0;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    line-height: 1em;
	display: flex;
	justify-content: center;
    align-items: center;
}

* {
	box-sizing: border-box;
	user-select: none;
}

i {
	cursor: pointer;
}

.player
{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 597px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
}
.cover
{
    z-index: 1;
    height: 241px;
    width: 300px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background 0.5s ease-in-out;
}
nav
{
    z-index: 3;
    position: relative;
    /* position: absolute; */
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 40px;
}
.left
{
    display: flex;
    i
  {
       cursor: pointer;
    }
    h6
    {
      margin: 0;  
      font-size: 15px ;
      padding-left: 19px;
    }
}

.right 
{
    display: flex;
    
    i {
        cursor: pointer;
        color: white;
    }
}

.mainplayer
{
    position: relative;
    z-index: 2;
   
    .title
    {
        display: flex;
        justify-content: center;
        padding-top: 65px;
        font-size: 11px;
        font-weight: 100;
        margin-top: 5px;
    }
    .small
    {
        display: flex;
        justify-content: center;
        font-size: 12px;
       
        h5 
        {
            margin:0;
            opacity: 0.6;
            color: white;
            font-size: 14px;
        } 
    }
}
.total
{
    position:relative;
    height: 3px;
    margin: 30px 20px 0px 20px;
    background-color: white;

    .played
    {
        position: absolute;
        height: 3px;
        width: 30px;
        background-color: rgb(204, 25, 85);
    }
        
  
    
}
.controls
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    i
    {
        font-size: 18px;
        margin: 0 10px;
        cursor: pointer;
    }
}
.musicplayer
{
    padding: 10px 10px 10px 10px;
    background: rgba(38, 24, 103, 0.871);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    margin-top: 2px;

    .song1,.song2,.song3,.song4,.song5
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        .info
        {
            display: flex;
            align-items: center;

            .img
            {
                height: 50px;
                width: 50px;
                margin-right: 20px;
                background-color: black;
            }
            .img.one
            {
                background: url("cover1.jfif") center center;
                background-size: cover;
            }
            .img.two
            {
                background: url("cover.jfif") center center;
                background-size: cover;
            }
            .img.three
            {
                background: url("good2.jfif") center center;
                background-size: cover;
            }
            .img.four
            {
                background: url("sunflower.jfif") center center;
                background-size: cover;
            }
            .img.five
            {
                background: url("liggi.jfif") center center;
                background-size: cover;
            }
            .name
            {
                h5,p 
                {
                    margin: 0;
                    color:white ;
                }
                h5
                {
                    font-size: 14px;
                    font-weight: bolder;
                    margin-bottom: 7px;
                }
                p
                {
                    font-size: 12px;
                    color:rgb(169, 168, 168);
                }
              
            }
        }
        .state.current 
        {	
            i 
            {
                /* color: rgb(235, 51, 112); */
                color: #ddd; 
                 transition: color 0.3s ease-in-out;
            }
        }
        
        .state 
        {  
            i 
            {
                
                /* color: #ddd; */
                /* color: rgb(235, 51, 112);  */
                color:white
            }
        }
    }
}